/* GLOBAL LAYOUT */
body {
    background-color: #001524;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* TITLE BLOCK */
#titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;
}

h1 {
    color: #C8963E;
    font-size: 3rem;
    margin: 0;
}

/* WINNER TEXT */
#winner {
    margin-top: 1rem;
    color: #C8963E;
    font-size: 2rem;
}

/* RESET BUTTON */
#reset {
    margin-top: 2rem;
    color: #C8963E;
    padding: 1rem 3rem;
    background: none;
    cursor: pointer;
    border: 3px solid #C8963E;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: background-color .3s;
}

#reset:active {
    background-color: #D7B170;
}

/* GRID */
#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    border: 5px solid #15616D;
    border-radius: 20px;
    margin-top: 2rem;
}

/* GAME SQUARES */
.buttonSquare {
    width: 8rem;
    height: 8rem;
    border-radius: 20px;
    border: 5px solid #15616D;
    background-color: #001524;
    color: #15616D;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .3s;
    position: relative;
    z-index: 5;
}

button:hover {
    transform: scale(1.1);
}

/* O MARK */
.O {
    position: absolute;
    z-index: 0;
}

.O-outer {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #CFFFB3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.O-inner {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #001524;
}

/* X MARK */
.X {
    position: absolute;
    z-index: 0;
}

.X-left,
.X-right {
    width: 0.6rem;
    height: 5rem;
    background-color: #A63D40;
    position: absolute;
}

.X-left {
    transform: rotate(45deg);
}

.X-right {
    transform: rotate(-45deg);
}

/* RESPONSIVE TWEAKS */
@media (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }

    #grid {
        gap: 1.2rem;
        padding: 1.2rem;
    }

    .buttonSquare {
        width: 6rem;
        height: 6rem;
    }

    .O-outer {
        width: 4rem;
        height: 4rem;
    }

    .O-inner {
        width: 3rem;
        height: 3rem;
    }

    .X-left,
    .X-right {
        height: 4rem;
    }
}
