body {
    background-color: #001524;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#titleBlock {
    position: relative;
    bottom: 500px;
    width: 500px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #C8963E;
    font-size: 50px;
    position: fixed;
}

#winner {
    position: relative;
    top: 75px;
    color: #C8963E;
    font-size: 40px;
}

#reset {
    position: relative;
    top: 400px;
    color: #C8963E;
    padding: 20px 60px;
    background: none;
    cursor: pointer;
    border-style: solid;
    border-color: #C8963E;
    border-radius: 10px;
    box-shadow: none;
    font-size: 30px;
}

#reset:active {
    background-color: #D7B170;
}

#grid {
    display: grid;
    grid-template-areas: "a a a"
        "a a a"
        "a a a";
    grid-gap: 50px;
    padding: 50px;
    border-style: solid;
    border-width: 7px;
    border-radius: 25px;
    color: #15616D;
    position: fixed;
}

.buttonSquare {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border-color: #15616D;
    background-color: #001524;
    border-style: solid;
    border-width: 7px;
    color: #15616D;

    transition: transform .5s,, font-size .5s;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

button:hover {
    transform: scale(1.1);
}

.O {
    position: absolute;
    z-index: 0;
}

.X {
    position: absolute;
    z-index: 0;
}

.O-outer {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #CFFFB3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.O-inner {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #001524;
}

.X-left {
    width: 15px;
    height: 160px;
    transform: rotate(45deg);
    background-color: #A63D40;
}

.X-right {
    width: 15px;
    height: 160px;
    transform: rotate(270deg);
    background-color: #A63D40;
}

